# Ignore Visual Studio specific files
.vs/
*.vcxproj.user
*.suo

#Ignore CLion specific files
.idea/

# Build outputs
Debug/
Release/
x64/
x86/
*.o
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib

# Temporary files
*.tlog
*.log
*.lastbuildstate
*.cache
ipch/
*.aps
*.pch

# Exclude .idb (Intermediate Debug) files
*.idb

# Build Results
#[Bb]in/
#[Oo]bj/
#[Ll]og/
#[Ll]ogs/
#/Engine/dependencies/bin/Glad
